<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--link rel="shortcut icon" href="http://getbootstrap.com/docs-assets/ico/favicon.png"/-->

    <title>List files</title>

    <!-- Bootstrap core CSS -->
    <link href="https://javawork.co.uk/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="https://javawork.co.uk/css/starter-template.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Downloads</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{~/java/logout}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<p/>

    <div class="container">
    
	<ul class="nav nav-pills">
	  <li class="active"><a href="#">Local Files</a></li>
	  <li><a th:href="@{~/java/fetch.html}">Fetch Remote</a></li>
	</ul>
	
		<p/>
	
		<p th:if="${infomsg}" class="alert alert-success" th:text="${infomsg}"></p>
		<p th:if="${errormsg}" class="alert alert-danger" th:text="${errormsg}"></p>
    
      <!--form class="form-fetch" role="form" th:action="@{~/java/remote}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      </form-->
    
		<table class="table">
			<tr><td>File name</td><td>Size (bytes)</td><td></td><td></td></tr>
      		<tr th:each="file : ${files}">
        		<td th:text="${file.key}"></td>
        		<td th:text="${file.value}"></td>
        		<td><a th:href="@{'~/java/files/'+${file.key}}" class="btn btn-primary btn-sm">Download</a></td>
        		<td><a th:href="@{'~/java/delete/'+${file.key}}" class="btn btn-danger btn-sm">Delete</a></td>
      		</tr>
		</table>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://javawork.co.uk/js/bootstrap.js"></script>

</body></html>